<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        background-color: lightcyan;
        margin: 0;
      }
      .box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 10px;
      }
      .value {
        padding: 10px;
        background: linear-gradient(rgb(194, 192, 130), rgb(225, 171, 53));
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50%;
        border-radius: 10px;
      }
      .btn {
        display: flex;
        flex-direction: column;
        width: 100px;
        gap: 20%;
        margin: 10px;
      }
      button {
        padding: 10px;
        border-radius: 10px;
        border: 1px wheat solid;
        margin: 10px;
      }
      a {
        color: black;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <%- include('./partials/headers.ejs') %>
    <div class="box">
      <% task.forEach((tas)=>{ %>
      <div class="value">
        <div class="data">
          <h2><%= tas.title %></h2>
          <h3><%= tas.status %></h3>
          <h4 ><%= tas.created_at %></h4>
        </div>
        <div class="btn">
          <button style="background-color: rgb(42, 239, 42)">
            <a href="/edit/<%= tas.id %>">Edit</a>
          </button>
          <button style="background-color: rgb(232, 62, 62)">
            <a href="/delete/<%= tas.id %>">Delete</a>
          </button>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
